ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  margin-top: 25px;
  height: 50px;
  background-color: blue;
}

li {
  float: left;
  position: relative;
}

a {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 0px 10px;
  font-family: fantasy;
  line-height: 50px;
  display: block;
  border-right: 2px solid white;
}

.u1 {
  position: absolute;
  top: 25px;
  display: none;
}

li:hover > .u1 {
  display: block;
  width: 250px;
}

li:hover > .u1 > .l1 {
  float: none;
}

.s1 {
  margin: 0px;
  background-color: blue;
  width: 100%;
  height: 800px;
}

.s2 {
  margin: 0px;
  background-color: white;
  width: 100%;
  height: 800px;
}

.s3 {
  margin: 0px;
  background-color: yellow;
  width: 100%;
  height: 800px;
}
